body {
  display: flex;
  justify-content: center;
}

.schedule, th, td {
  border: 1px solid black;
  padding: 5px 5px;
  border-collapse: collapse;
}

.new-appointment {
  font-weight: bold;
  background-color: rgb(41, 252, 80);
}