.spacing {
  padding: 10px 0px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0px;
}

.navbar-links {
  display: flex;
  /* text-align: center; */
  justify-content: space-evenly;
}

.nav-link:hover {
  background-color: chartreuse;
}

/* .admin-login {
  height: 40px;
  text-align: center;
} */

.admin-link {
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  padding: 3px 3px;
  border-radius: 5px;
  /* border: 5px solid greenyellow; */
  background-color: hotpink;
}

a {
  padding: 0 5px;
}

.inactive {
  padding: 2px 3px;
  /* border: 1px solid black; */
}